html, body {
  font-family: Arial, sans-serif;
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  background-color: black;
  color: white;
}

h1 {
  font-size: 5rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-size: 1rem;
  margin: 20px 0 0;
  text-transform: uppercase;
  color: palevioletred;
}

h4 {
  font-size: 0.8rem;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 1.4rem;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  background-color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 30px;
  width: 100%;
}

button:hover {
  background-color: #e4e5e5;
}

.container {
  margin: 20px;
}

/* SUBSCRIBE */
.subscription {
  display: grid;
  grid-gap: 20px;
  margin: 100px auto 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1000px;
}

.price {
  font-size: 6rem;
  font-weight: 300;
  margin-top: 10px;
}

.price span {
  font-size: 3rem;
  font-weight: 300;
}

form {
  display: grid;
  align-items: center;
  grid-gap: 30px;
  margin: 30px auto 0 auto;
  max-width: 500px;
}

form input {
  background: transparent;
  padding: 30px;
  border-radius: 50px;
  border: solid 2px #ffffff;
  font-size: 1.4rem;
  color: white;
}

/* SUBSCRIBED */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}
.subscription-name-container {
  text-align: left;
}
.subscription-name {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0;
}
.cancel-form {
  margin: 0;
  max-width: 100%;
}

.cancel-button {
  padding: 10px 20px;
  color: black;
  width: fit-content;
}

.subscribed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

.levels-container {
  margin: 0 auto;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 20px;
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.8rem;
  list-style: none;
  padding: 0;
}

li {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 20px;
  align-items: center;
  text-align: center;
}

.points li {
  text-align: left;
}

li p {
  margin: 0;
}

.traits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 10px 0 0 0;
}

.card-container {
  border: solid 5px #e4e5e5;
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
}

.nft-img {
  width: 480px;
  min-height: 480px;
  background-color: #f0f0f0;
  display: block;
}